/* colors.css */

/**
Light mode and dark mode.
https://dev.to/ynab/a-semantic-color-system-the-theory-hk7
**/

.swatch {
    width: 120px;
    height: 120px;
}

/* --- Surface Colors --- */
.color-surface-box {
    background-color: var(--a-color-surface);
    color: var(--a-color-on-surface);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    border-radius: var(--a-border-radius-small);
}

.color-surface-invert-box {
    background-color: var(--a-color-surface-variant);
    /* Updated variable name */
    color: var(--a-color-on-surface-variant);
    /* Updated variable name */
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    border-radius: var(--a-border-radius-small);
}

/* --- Primary Colors --- */
.color-primary-box {
    background-color: var(--a-color-primary);
    color: var(--a-color-on-primary);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    border-radius: var(--a-border-radius-small);
}

.color-on-primary-box {
    background-color: var(--a-color-on-primary);
    color: var(--a-color-primary);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    border-radius: var(--a-border-radius-small);
}

.color-primary-container-box {
    background-color: var(--a-color-primary-container);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    color: var(--a-color-on-primary-container);
    border-radius: var(--a-border-radius-small);
}

.color-on-primary-container-box {
    background-color: var(--a-color-on-primary-container);
    color: var(--a-color-primary-container);
    border-radius: var(--a-border-radius-small);
}

/* --- Primary Mono Colors --- */
.color-primary-mono-box {
    background-color: var(--a-color-primary-mono);
    color: var(--a-color-on-primary-mono);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    border-radius: var(--a-border-radius-small);
}

.color-on-primary-mono-box {
    background-color: var(--a-color-on-primary-mono);
    color: var(--a-color-primary-mono);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    border-radius: var(--a-border-radius-small);
}

.color-primary-container-mono-box {
    background-color: var(--a-color-primary-container-mono);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    color: var(--a-color-on-primary-container-mono);
    border-radius: var(--a-border-radius-small);
}

.color-on-primary-container-mono-box {
    background-color: var(--a-color-on-primary-container-mono);
    color: var(--a-color-primary-container-mono);
    border-radius: var(--a-border-radius-small);
}

/* --- Secondary Colors --- */
.color-secondary-box {
    background-color: var(--a-color-secondary);
    color: var(--a-color-on-secondary);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    border-radius: var(--a-border-radius-small);
}

.color-on-secondary-box {
    background-color: var(--a-color-on-secondary);
    color: var(--a-color-secondary);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    border-radius: var(--a-border-radius-small);
}

.color-secondary-container-box {
    background-color: var(--a-color-secondary-container);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    color: var(--a-color-on-secondary-container);
    border-radius: var(--a-border-radius-small);
}

.color-on-secondary-container-box {
    background-color: var(--a-color-on-secondary-container);
    color: var(--a-color-secondary-container);
    border-radius: var(--a-border-radius-small);
}

/* --- Tertiary Colors --- */
.color-tertiary-box {
    background-color: var(--a-color-tertiary);
    color: var(--a-color-on-tertiary);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    border-radius: var(--a-border-radius-small);
}

.color-on-tertiary-box {
    background-color: var(--a-color-on-tertiary);
    color: var(--a-color-tertiary);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    border-radius: var(--a-border-radius-small);
}

.color-tertiary-container-box {
    background-color: var(--a-color-tertiary-container);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    color: var(--a-color-on-tertiary-container);
    border-radius: var(--a-border-radius-small);
}

.color-on-tertiary-container-box {
    background-color: var(--a-color-on-tertiary-container);
    color: var(--a-color-tertiary-container);
    border-radius: var(--a-border-radius-small);
}

/* --- Negative Colors --- */
.color-negative-box {
    background-color: var(--a-color-negative);
    color: var(--a-color-on-negative);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    border-radius: var(--a-border-radius-small);
}

.color-on-negative-box {
    background-color: var(--a-color-on-negative);
    color: var(--a-color-negative);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    border-radius: var(--a-border-radius-small);
}

.color-negative-container-box {
    background-color: var(--a-color-negative-container);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    color: var(--a-color-on-negative-container);
    border-radius: var(--a-border-radius-small);
}

.color-on-negative-container-box {
    background-color: var(--a-color-on-negative-container);
    color: var(--a-color-negative-container);
    border-radius: var(--a-border-radius-small);
}

/* --- Positive Colors --- */
.color-positive-box {
    background-color: var(--a-color-positive);
    color: var(--a-color-on-positive);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    border-radius: var(--a-border-radius-small);
}

.color-on-positive-box {
    background-color: var(--a-color-on-positive);
    color: var(--a-color-positive);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    border-radius: var(--a-border-radius-small);
}

.color-positive-container-box {
    background-color: var(--a-color-positive-container);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    color: var(--a-color-on-positive-container);
    border-radius: var(--a-border-radius-small);
}

.color-on-positive-container-box {
    background-color: var(--a-color-on-positive-container);
    color: var(--a-color-positive-container);
    border-radius: var(--a-border-radius-small);
}

/* --- Informative Colors --- */
.color-informative-box {
    background-color: var(--a-color-informative);
    color: var(--a-color-on-informative);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    border-radius: var(--a-border-radius-small);
}

.color-on-informative-box {
    background-color: var(--a-color-on-informative);
    color: var(--a-color-informative);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    border-radius: var(--a-border-radius-small);
}

.color-informative-container-box {
    background-color: var(--a-color-informative-container);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    color: var(--a-color-on-informative-container);
    border-radius: var(--a-border-radius-small);
}

.color-on-informative-container-box {
    background-color: var(--a-color-on-informative-container);
    color: var(--a-color-informative-container);
    border-radius: var(--a-border-radius-small);
}

/* --- Notice Colors --- */
.color-notice-box {
    background-color: var(--a-color-notice);
    color: var(--a-color-on-notice);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    border-radius: var(--a-border-radius-small);
}

.color-on-notice-box {
    background-color: var(--a-color-on-notice);
    color: var(--a-color-notice);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    border-radius: var(--a-border-radius-small);
}

.color-notice-container-box {
    background-color: var(--a-color-notice-container);
    padding: var(--a-padding-base);
    margin: var(--a-margin-base);
    color: var(--a-color-on-notice-container);
    border-radius: var(--a-border-radius-small);
}

.color-on-notice-container-box {
    background-color: var(--a-color-on-notice-container);
    color: var(--a-color-notice-container);
    border-radius: var(--a-border-radius-small);
}

.content-main-wrapper {
    background-image: var(--content_wrapper_gradient);
}