/* Logo Styles */
.logo {
    --logo-color-1: var(--a-color-primary);
    --logo-color-2: var(--a-color-gray-8);
    --logo-color-3: var(--a-color-gray-6);
    --logo-color-4: var(--a-color-gray-4);
    --logo-color-5: var(--a-color-gray-2);
    --logo-color-6: var(--a-color-positive);

    font-family: var(--a-font-family-mono);
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    align-items: baseline;
}

.logo span:nth-child(1) { /* A */
    font-size: 18pt;
    font-weight: 900;
    font-style: italic;
    color: var(--logo-color-1);
}

.logo span:nth-child(2) { /* X */
    font-size: 16pt;
    font-weight: 700;
    color: var(--logo-color-2);
}

.logo span:nth-child(3) { /* I */
    font-size: 16pt;
    font-weight: 700;
    color: var(--logo-color-3);
}

.logo span:nth-child(4) { /* O */
    font-size: 16pt;
    font-weight: 700;
    color: var(--logo-color-4);
}

.logo span:nth-child(5) { /* M */
    font-size: 16pt;
    font-weight: 700;
    color: var(--logo-color-5);
}

.logo span:nth-child(6) { /* Space */
    font-size: 6pt;
}

.logo span:nth-child(7) { /* [ */
    font-size: 14pt;
    font-weight: 400;
    color: var(--logo-color-5);
}

.logo span:nth-child(8) { /* 01 */
    font-size: 13pt;
    font-weight: 500;
    color: var(--logo-color-6);
}

.logo span:nth-child(9) { /* ] */
    font-size: 14pt;
    font-weight: 400;
    color: var(--logo-color-5);
}